:root {
    --base-color: #ff8f00;
    --bs-white: #fff9f9;
  }
  
  .btn.btn-category {
    --bs-btn-font-weight: 400;
    --bs-btn-color: #fff9f9;
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--base-color);
    --bs-btn-hover-border-color: var(--base-color);
    --bs-btn-focus-shadow-rgb: var(--base-color);
    --bs-btn-active-color: var(--base-color);
    --bs-btn-active-bg: var(--base-color);
    --bs-btn-active-border-color: var(--base-color);
    width: 130px;
  }

.btn-check:disabled + .btn-category {
    background-color: #ccc; 
    color: #666; 
    border-color: #aaa; 
    opacity: 0.5; 
    cursor: not-allowed; 
}

.btn-check:disabled + .btn-category:hover {
    background-color: #ccc; 
    color: #666;
    border-color: #aaa;
    opacity: 0.5;
}

.btn-check:not(:checked) + .btn-category:hover {
    border-color: orange; 
    color: orange !important; 
    background-color: white; 
    cursor: pointer; 
}
  

.button-change {
    background-color: #ff8f00; 
    color: white; 
    border: none;
    width: 120px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
}

.button-change:hover {
    background-color: #7a4606 !important;
    transition: 0s;
}



.hero {
    background: url('../assets/hero.png') no-repeat center center/cover;
    height: 100vh;
}

.hero h2 {
    position: absolute; 
    top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%);
    z-index: 1;        
    color: #ff8f00;    
    font-size: 100px;  
    font-weight: bold; 
    text-align: center;
}

.header-span {
    color: #ff8f00;
}


.navbar {
    z-index: 0; 
}

.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ff8f00;
    text-decoration: none;
}

.btn.nav-link {
    color: white; /* Ganti dengan warna teks yang diinginkan */
    transition: color 0.3s ease/* Untuk efek transisi yang halus */
}

nav .btn.nav-link:hover {
    color: #ff8f00;
    transition: color 0.3s ease
}

.navbar-footer .link-footer a {
    color: black;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar-footer .link-footer a:hover {
    color: #ff8f00;
    text-decoration: none;
}

.card_animate {
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    border-radius: 25px;
}

.card_animate:hover {
    background-color: #f8c078; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
    color: white;
    transition: color 0.5s ease-in-out;
}


.card_animate:hover .pizza-img {
    transform: rotate(20deg);
}

.pizza-img {
    transition: transform 0.5s ease-in-out;
    border-radius: 50%;
}

.bg-orange {
    background-color: #db8031 !important;
}

.social-icons {
    gap: 15px;
}

.icon-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    border: 2px solid orange; 
    border-radius: 50%; 
    text-decoration: none;
  }
  
.icon-border img {
    width: 50%; 
    height: 50%;
}

.icon-border:hover {
    background-color: #ffe6cc; 
    
}

.mt-5 {
    margin-top: 2rem !important; 
}



@media (max-width: 768px) {
    .hero h2 {
        font-size: 3rem; 
        top: auto;  
    }
    .card {
        flex: 0 0 100%; 
    }
    .navbar-nav {
        flex-direction: column; 
    }
    .social-icons {
        gap: 10px;
    }
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}




